<h2><i>Accessories Collections</i></h2>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-image">
        <thead>
          <tr>
            <th scope="col">S.N</th>
            <th scope="col">Image</th>
            <th scope="col">Catagories</th>
            <th scope="col">Colors</th>
            <th scope="col">Sizes</th>
            <th scope="col">Prices</th>
            <th scope="col">Add</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td class="w-25">
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="/Images/earings.JPG" target="_blank">
                    <img src="/Images/earings.JPG" alt="Fjords" style="width:300%">
                    <div class="caption">
                    </div>
                  </a>
                </div>
              </div>
            </td>
            <td>Ear Rings</td>
            <td>Multiples</td>
            <td>Standard</td>
            <td>$5-above</td>
            <td>Add here</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td class="w-25">
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="/Images/bangles.JPG" target="_blank">
                    <img src="/Images/bangles.JPG" alt="Fjords" style="width:300%">
                    <div class="caption">
                    </div>
                  </a>
                </div>
              </div>
            </td>
            <td>Bangles</td>
            <td>Multiples</td>
            <td>Standard</td>
            <td>$10- above</td>
            <td>Add here</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td class="w-25">
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="/Images/bands.JPG" target="_blank">
                    <img src="/Images/bands.JPG" alt="Fjords" style="width:300%">
                    <div class="caption">
                    </div>
                  </a>
                </div>
              </div>
            </td>
            <td>Bands</td>
            <td>Multiples</td>
            <td>Standard</td>
            <td>$5- above</td>
            <td>Add here</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td class="w-25">
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="/Images/shoes.JPG" target="_blank">
                    <img src="/Images/shoes.JPG" alt="Fjords" style="width:300%">
                    <div class="caption">
                    </div>
                  </a>
                </div>
              </div>
            </td>
            <td>Shoes</td>
            <td>Multiples</td>
            <td>S-M-L-XL</td>
            <td>$10-above</td>
            <td>Add here</td>
          <tr>
            <th scope="row">5</th>
            <td class="w-25">
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="/Images/glasses.JPG" target="_blank">
                    <img src="/Images/glasses.JPG" alt="Fjords" style="width:300%">
                    <div class="caption">
                    </div>
                  </a>
                </div>
              </div>
            </td>
            <td>Glasses</td>
            <td>Multiples</td>
            <td>Standard</td>
            <td>$60- above</td>
            <td>Add here</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
