<h2><i>Clothes Collections</i></h2>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-image">
        <thead>
          <tr>
            <th scope="col">S.N</th>
            <th scope="col">Image</th>
            <th scope="col">Catagories</th>
            <th scope="col">Colors</th>
            <th scope="col">Sizes</th>
            <th scope="col">Prices</th>
            <th scope="col">Add</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td class="w-25">
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="/Images/dresses.JPG" target="_blank">
                    <img src="/Images/dresses.JPG" alt="Fjords" style="width:300%">
                    <div class="caption">
                    </div>
                  </a>
                </div>
              </div>
            </td>
            <td>Dresses</td>
            <td>Multiples</td>
            <td>S-M-L-XL</td>
            <td>$20-$45</td>
            <td>Add here</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td class="w-25">
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="/Images/tops.JPG" target="_blank">
                    <img src="/Images/tops.JPG" alt="Fjords" style="width:300%">
                    <div class="caption">
                    </div>
                  </a>
                </div>
              </div>
            </td>
            <td>Tops</td>
            <td>Multiples</td>
            <td>S-M-L-XL</td>
            <td>$10-$25</td>
            <td>Add here</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td class="w-25">
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="/Images/pants.JPG" target="_blank">
                    <img src="/Images/pants.JPG" alt="Fjords" style="width:300%">
                    <div class="caption">
                    </div>
                  </a>
                </div>
              </div>
            </td>
            <td>Pants</td>
            <td>Multiples</td>
            <td>S-M-L-XL</td>
            <td>$10-$30</td>
            <td>Add here</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td class="w-25">
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="/Images/lenghas.JPG" target="_blank">
                    <img src="/Images/lenghas.JPG" alt="Fjords" style="width:300%">
                    <div class="caption">
                    </div>
                  </a>
                </div>
              </div>
            </td>
            <td>Lenghas</td>
            <td>Multiples</td>
            <td>S-M-L-XL</td>
            <td>$100-$2500</td>
            <td>Add here</td>
          <tr>
            <th scope="row">5</th>
            <td class="w-25">
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="/Images/sarees.JPG" target="_blank">
                    <img src="/Images/sarees.JPG" alt="Fjords" style="width:300%">
                    <div class="caption">
                    </div>
                  </a>
                </div>
              </div>
            </td>
            <td>Sarees</td>
            <td>Multiples</td>
            <td>Standard</td>
            <td>$60-$2000</td>
            <td>Add here</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
