

<P>
  <i>
    Welcome to Fashionista Shopping
  </i>
  
</P>
<body>

  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/Images/coverpic1.JPG" target="_blank">
        <img src="/Images/coverpic1.JPG" alt="Fjords" style="width:300%">
        <div class="caption">
        </div>
      </a>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://www.instagram.com/thefashionistastories/?hl=en" target="_blank">
            <img src="/Images/story1.JPG" alt="Story" style="width:30%">
            <div class="caption">
              <p>The Fashionista Story</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://in.pinterest.com/pin/776096948263465207/" target="_blank">
            <img src="/Images/story2.JPG" alt="Nature" style="width:50%">
            <div class="caption">
              <p>Women lifeStyle and Shopping</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://www.bloomingdales.com/shop/jewelry-accessories/designer-bracelets?id=8701" target="_blank">
            <img src="/Images/story3.JPG" alt="Fjords" style="width:30%">
            <div class="caption">
              <p>Designers Bracelets</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="thumbnail">
      <a href="https://in.pinterest.com/pin/776096948263465207/" target="_blank">
        <div class="caption">
          <p>About</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <a href="/Images/contact.JPG" target="_blank">
        <div class="caption">
          <p>Contact</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-6">
    <div class="thumbnail">
      <a href="https://www.bloomingdales.com/shop/jewelry-accessories/designer-bracelets?id=8701" target="_blank">
        <div class="caption">
          <p>Blogs</p>
        </div>
      </a>
    </div>
  </div>
</body>
